.header {
  display: flex;
  justify-content: center;
}

.header-inner {
  float: center;
  padding: 1rem;
  border-bottom: 0.25rem solid var(--granite);
}

.header-text {
  float: right;
  max-width: 75%;
}

.gene-machine {
  max-width: 12rem;
  max-height: 12rem;
}

.gene-machine-title { 
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
}

.gene-machine-description {
  font-size: 1rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
}

.patient-gene-organ-selector {
  font-size: 0.75rem;
  max-width: 60%;
  max-height: 10rem;
  min-width: 20%;
  min-height: 1rem;
  margin: 0 -0.25rem 0 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.25rem solid var(--willow-green);
  cursor: pointer;
}

.patient-gene-organ-selector p {
  margin: 0;
}

.patient-gene-organ-selector-options {
  font-size: 0.75rem;
  max-width: 20%;
  max-height: 10rem;
  min-width: 21%;
  min-height: 1rem;
  margin: -1.25rem 0rem 0rem 18.75%;
  border: 0.25rem solid var(--willow-green);
  
}

.search-bar-input {
  font-size: 0.75rem;
  max-width: 60%;
  max-height: 10rem;
  min-width: 40%;
  min-height: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.25rem solid var(--willow-green);
}

input:focus {
  outline: none;
}

.search-category {
  cursor: pointer;
}

.search-results {
  /*  */
}

.patient-result-item {
  border: 0.25rem solid var(--pacific-blue);
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  display: block;
  gap: 0.5rem;
  max-width: 60%;
  min-width: 40%;
  min-height: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.patient-result-item {
  display: inline-block;
  
}

.patient-result-item-details {
  /*  */
}

.patient-result-item-name {
  display: inline-block;
  float: left;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.patient-result-item-gender {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.patient-result-item-phone {
  display: inline-block;
  float: right;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
 }

.patient-result-item-street-address {
  display: inline-block;
  float: left;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.patient-result-item-city {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.patient-result-item-state {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.patient-result-item-zip-code {
  display: inline-block;
  float: right;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.results-label {
  text-decoration: underline;
}

.gene-result-item {
  border: 0.25rem solid var(--pacific-blue);
  padding: 0rem 1rem 0rem 1rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  display: block;
  gap: 0.5rem;
  max-width: 40%;
  min-width: 10%;
  min-height: 1rem;
}

.gene-result-item {
  display: inline-block;  
}

.organ-result-item {
  border: 0.25rem solid var(--pacific-blue);
  padding: 0rem 1rem 0rem 1rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  display: block;
  gap: 0.5rem;
  max-width: 40%;
  min-width: 10%;
  min-height: 1rem;
}

.organ-result-item {
  display: inline-block;  
}

.footer {
  /*  */
}
